* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */

body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.2;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 30px;

  margin-top: 40px;
}

.uName {
  height: 77px;
  background-color: #f1f2f2;
  display: flex;
  justify-self: flex-end;
  flex-direction: row;
  align-content: center;
  align-self: center;
  margin-right: 50px;
  padding: 4px;
  border-radius: 40px;
  // margin-top: 20px;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.btn {
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background-color: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 30px;

  margin-top: 40px;
}

.btn:hover {
  background-color: transparent;
  color: var(--primaryColor);
}

.btn-add {
  margin-left: 300px;
  margin-top: 55px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  align-self: center;
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);

  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  width: 219px;
}
.btn-add:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--offWhite);
  z-index: 200;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  position: static;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: rgb(83, 42, 3);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 18px;
  font-family: fantasy;
  font-weight: 550;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 190px;
  overflow: visible;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1990px;
    margin: 0 auto;
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 3.7rem;
    justify-self: center;
    margin-top: 37px;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */

/* Hero */
.defaultHero,
.estateHero {
  min-height: calc(100vh - 66px);
  background: center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.estateHero {
  background-image: url("./assets/kitchen.jpg");
  min-height: calc(100vh - 66px);
}
/* End of Hero */

/* Banner */
.banner {
  display: inline-block;
  background: rgba(12, 12, 12, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  z-index: 100;
  margin-top: 15px;
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin-top: 10px;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
.GestureGallery {
  max-width: 100%;
}
/* end of Title */

// ImageCarousel
.container {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  visibility: hidden;
}

.img-container {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100vw;

  overflow: hidden;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    right: 0;
  }
  img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/*contact*/
.contacts {
  padding: 0.4rem;
  background: var(--mainBlack);
  text-align: center;
  display: block;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.contact-center {
  margin: 0 auto;
}
.contact {
  display: inline-block;
  margin-right: 33px;
  justify-self: center;
  align-self: center;
  margin-top: 19px;
}
.contact img {
  margin-bottom: 1.5rem;
}
.contact :hover {
  width: 40px;
  height: 40px;
  transition: 0.4s all;
  background: transparent;
  background: var(--primaryColor);
}
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.data {
  float: left;
}
.desc,
.info {
  margin: 30px;
  float: left;
  margin-left: 90px;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
  margin-left: 20px;
  margin-top: 33px;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-top: 31px;
  margin-left: 25px;
}

.info h6 {
  font-weight: 400;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/

/*  rooms fitler*/
.filter-container {
  padding: 3rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.opt {
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);

  margin-bottom: 1rem;
  margin-top: 10px;
}
.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}

.addForm {
  max-width: 1000px;
  margin: 0 auto;
  background: rgba(230, 224, 224, 0.5);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.form-group {
  text-transform: capitalize;
  margin-top: 2rem;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
  font-family: Verdana;
  font-weight: bold;
  color: black;
}
.form-group input {
  border: none;
  border-bottom: 2px solid #af9a7d;
  background: transparent;
}
.form-group input:focus {
  border: 3px solid #af9a7d;
}
.AutoComplete:focus {
  border: 3px solid #af9a7d;
}
.form-group input[type="radio"] {
  height: 15px;
  width: 15px;
  background-color: #af9a7d;
  border-radius: 50%;
}
.form-group input[type="radio"]:checked {
  background-color: #af9a7d;
}

.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
.singUp {
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-content: center;

  flex: 1;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 20%;
  margin-top: 30px;
}
.input {
  flex-direction: row;
  display: flex;
  margin: 17px;
  // margin-top: 30px;
}
//infoWindow

.infotype {
  text-align: center;
}
.infoStreet {
  text-align: center;
  margin-left: 35px;
}
.infobtn {
  margin-left: 30px;
  margin-top: 0px;
  // display: inline-block;
  text-decoration: none;
  font-weight: bold;
  align-self: center;
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  border-radius: 10%;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  width: 70px;
}
.infobtn:hover {
  background: transparent;
  color: var(--primaryColor);
}

.estate {
  flex-direction: row;

  border-radius: 20%;
  padding: 10px;
  background-color: aliceblue;
  width: 80px;
}
.hours {
  flex: 1;
  flex-direction: column;
  margin-left: 24;
  justify-content: space-evenly;
}

.imageInfo {
  align-self: center;
  // width: 100%;
  height: 40;
}
.estateInfoContainer {
  flex: 1.5;
  flex-direction: "row";
}

.inNA {
  margin-right: 20px;
}
.INna {
  margin-block-end: 5px;
  justify-content: end;
  // border-radius: 20%;
}
.navImg {
  margin-left: 1.9rem;
  height: 105px;
  width: 120px;
}
.form-groupp {
  width: 300px;
  height: auto;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}
.form-groupp .sl {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  position: relative;
  height: 50px;
  border: none;
  border-bottom: 1px solid #555;
  border-radius: 0;
  transition: 0.5s ease-in-out;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin-top: 10px;
}
.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid #222;
}
.sl {
  position: absolute;
  top: 0;
  font-size: 18px;
  padding-left: 15px;
  line-height: 50px;
  transition: 0.5s ease;
}
.form-control:focus + .sl,
.form-control:valid + .sl {
  top: -30px;
  padding-left: 0;
  font-size: 20x;
}
.imgSL {
  position: absolute;
  top: 30%;
  left: 57%;
}
.IMsl {
  height: 330px;
  width: 330px;
}

// #######################################

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}

.singleImage {
  padding: 0 20px 20px;
  height: 300px;
  border-radius: 34;
}

.singleImage:hover {
  padding: 5px;
  /* opacity: .5; */
  transition: 0.9s;
  transform: scale(
    1.24
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.popupParent {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupImage {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
}

.imageClosingButton {
  position: relative;
}
.card {
  border: 3px #f3f3f3 solid;

  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 220px;
  text-align: left;
  margin: 0 auto;
  &:hover {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
  }
  img {
    max-width: calc(100%);
    margin: 0 auto;
    display: block;
  }
  .index {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0 10px;
  }
  .price {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
  }
}

/* #endregion */

/* #region cards slider */
.col-wrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  .card {
    flex: 1;
    min-width: 200px;
    opacity: 0.7;
    transform: scale(0.8);
    box-shadow: none;
    background-color: white;
    border-color: white;
    transition: opacity 300ms linear, border-color 300ms linear,
      background-color 300ms linear,
      transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    .details {
      opacity: 0;
      transition: opacity 150ms linear;
    }
  }
}

$i: 0;
@for $i from 0 through 29 {
  .cards-slider.active-slide-#{$i} #card-#{$i} {
    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    .details {
      opacity: 1;
    }
  }
}

.col {
  height: 264px;
  position: relative;
  &:before,
  &:after {
    content: "";
    display: block;
    width: 50%;
    height: 120%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 15%,
      rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &:after {
    left: auto;
    right: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 15%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.cards-slider {
  position: relative;
  max-width: 226px;
  margin: 0 auto;

  // boder for active property
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 264px;
    // outline: 5px solid #61dafb;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* #endregion */
.card {
  border: 2px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 220px;
  text-align: left;
  margin: 0 auto;
}
.card:hover {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.card img {
  max-width: calc(100%);
  margin: 0 auto;
  display: block;
}
.card .index {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0 10px;
}

/* #endregion */
/* #region cards slider */
.cards-slider-wrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.cards-slider-wrapper .card {
  flex: 1;
  min-width: 200px;
  opacity: 0.7;
  transform: scale(0.8);
  box-shadow: none;
  background-color: white;
  border-color: white;
  transition: opacity 300ms linear, border-color 300ms linear,
    background-color 300ms linear,
    transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.cards-slider-wrapper .card .details {
  opacity: 0;
  transition: opacity 150ms linear;
}

.cards-slider.active-slide-0 #card-0 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-1 #card-1 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-2 #card-2 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-3 #card-3 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-4 #card-4 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-5 #card-5 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-6 #card-6 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-7 #card-7 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-8 #card-8 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-9 #card-9 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-10 #card-10 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-11 #card-11 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-12 #card-12 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-13 #card-13 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-14 #card-14 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.cards-slider.active-slide-15 #card-15 {
  opacity: 1;
  transform: scale(1);
  background-color: #bcbec0;
  border-color: #bcbec0;
}

.col {
  height: 264px;
  position: relative;
  margin-top: 30px;
}
.col:before,
.col:after {
  content: "";
  display: block;
  width: 50%;
  height: 120%;
  background: linear-gradient(to right, white 15%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.col:after {
  left: auto;
  right: 0;
  background: linear-gradient(to left, white 15%, rgba(255, 255, 255, 0) 100%);
}

.cards-slider {
  position: relative;
  max-width: 226px;
  margin: 0 auto;
}
.cards-slider:after {
  content: "";
  display: block;
  width: 200px;
  height: 300px;
  // outline: 4px solid #af9a7d;
  position: absolute;
  top: 0;
  left: 0;
}

.labelFilter {
  color: #000;
  margin-left: 40px;
}
#top {
  font-family: "Podkova";
}
/* #endregion */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: 35px;
  height: 35px;
  background-color: #bcbec0;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 95px;
  width: 300px;
  transform: translateX(-45%);
  background-color: #e6e7e8;
  // border: #bcbec0;
  // border-width: 5px;
  border-radius: 25px;
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  transition: #f1f2f2;
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 1rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #f1f2f2;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
